.icon {
	display: inline-block;
	color: #000000;
	fill: currentColor;
}
.icon-star {
	width: 26px;
	height: 28px;
}
.icon-user {
	width: 22px;
	height: 28px;
}
.icon-cog {
	width: 28px;
	height: 28px;
}
.icon-home {
	width: 26px;
	height: 28px;
}
.icon-camera {
	width: 30px;
	height: 28px;
}
.icon-plus-circle {
	width: 28px;
	height: 28px;
}
.icon-minus-circle {
	width: 28px;
	height: 28px;
}
.icon-times-circle {
	width: 28px;
	height: 28px;
}
.icon-check-circle {
	width: 28px;
	height: 28px;
}
.icon-question-circle {
	width: 28px;
	height: 28px;
}
.icon-times-circle-o {
	width: 28px;
	height: 28px;
}
.icon-thumbs-o-up {
	width: 28px;
	height: 28px;
}
.icon-group {
	width: 30px;
	height: 28px;
}
.icon-caret-down {
	width: 16px;
	height: 28px;
}
.icon-caret-up {
	width: 16px;
	height: 28px;
}
.icon-caret-left {
	width: 10px;
	height: 28px;
}
.icon-caret-right {
	width: 10px;
	height: 28px;
}
.icon-bell {
	width: 28px;
	height: 28px;
}
.icon-angle-right {
	width: 10px;
	height: 28px;
}
.icon-angle-down {
	width: 18px;
	height: 28px;
}
.icon-circle-o {
	width: 28px;
	height: 28px;
}
.icon-chevron-circle-left {
	width: 28px;
	height: 28px;
}
.icon-chevron-circle-right {
	width: 28px;
	height: 28px;
}
.icon-chevron-circle-up {
	width: 28px;
	height: 28px;
}
.icon-chevron-circle-down {
	width: 28px;
	height: 28px;
}
.icon-line-chart {
	width: 32px;
	height: 28px;
}
.icon-search {
	width: 26px;
	height: 28px;
}
.icon-check {
	width: 28px;
	height: 28px;
}
.icon-times {
	width: 22px;
	height: 28px;
}
.icon-comment {
	width: 28px;
	height: 28px;
}
.icon-bar-chart-o {
	width: 30px;
	height: 28px;
}
.icon-navicon {
	width: 28px;
	height: 28px;
}
.icon-spinner {
	width: 25px;
	height: 28px;
}
.icon-circle {
	width: 28px;
	height: 28px;
}
.icon-microphone {
	width: 18px;
	height: 28px;
}
.icon-share-alt {
	width: 28px;
	height: 28px;
}
