[class^="icon-svg-"], [class*=" icon-svg-"] {
	display: inline-block;
	color: #000000;
	fill: currentColor;
}
.icon-svg-search {
	width: 26px;
	height: 28px;
}
#icon-svg-arrow-left .path1 {
	fill: currentcolor;
}
.icon-svg-check {
	width: 28px;
	height: 28px;
}
#icon-svg-arrow-left .path1 {
	fill: currentcolor;
}
.icon-svg-times {
	width: 22px;
	height: 28px;
}
#icon-svg-arrow-left .path1 {
	fill: currentcolor;
}
.icon-svg-chevron-left {
	width: 20px;
	height: 28px;
}
#icon-svg-arrow-left .path1 {
	fill: currentcolor;
}
.icon-svg-chevron-right {
	width: 20px;
	height: 28px;
}
#icon-svg-arrow-left .path1 {
	fill: currentcolor;
}
.icon-svg-plus {
	width: 22px;
	height: 28px;
}
#icon-svg-arrow-left .path1 {
	fill: currentcolor;
}
.icon-svg-minus {
	width: 22px;
	height: 28px;
}
#icon-svg-arrow-left .path1 {
	fill: currentcolor;
}
.icon-svg-comment {
	width: 28px;
	height: 28px;
}
#icon-svg-arrow-left .path1 {
	fill: currentcolor;
}
.icon-svg-bar-chart-o {
	width: 30px;
	height: 28px;
}
#icon-svg-arrow-left .path1 {
	fill: currentcolor;
}
.icon-svg-bell-o {
	width: 26px;
	height: 28px;
}
#icon-svg-arrow-left .path1 {
	fill: currentcolor;
}
.icon-svg-group {
	width: 30px;
	height: 28px;
}
#icon-svg-arrow-left .path1 {
	fill: currentcolor;
}
.icon-svg-navicon {
	width: 28px;
	height: 28px;
}
#icon-svg-arrow-left .path1 {
	fill: currentcolor;
}
.icon-svg-caret-down {
	width: 16px;
	height: 28px;
}
#icon-svg-arrow-left .path1 {
	fill: currentcolor;
}
.icon-svg-caret-up {
	width: 16px;
	height: 28px;
}
#icon-svg-arrow-left .path1 {
	fill: currentcolor;
}
.icon-svg-envelope {
	width: 28px;
	height: 28px;
}
#icon-svg-arrow-left .path1 {
	fill: currentcolor;
}
.icon-svg-angle-left {
	width: 10px;
	height: 28px;
}
#icon-svg-arrow-left .path1 {
	fill: currentcolor;
}
.icon-svg-angle-right {
	width: 10px;
	height: 28px;
}
#icon-svg-arrow-left .path1 {
	fill: currentcolor;
}
.icon-svg-spinner {
	width: 25px;
	height: 28px;
}
#icon-svg-arrow-left .path1 {
	fill: currentcolor;
}
.icon-svg-circle {
	width: 28px;
	height: 28px;
}
#icon-svg-arrow-left .path1 {
	fill: currentcolor;
}
.icon-svg-microphone {
	width: 18px;
	height: 28px;
}
#icon-svg-arrow-left .path1 {
	fill: currentcolor;
}
.icon-svg-share-alt {
	width: 28px;
	height: 28px;
}
#icon-svg-arrow-left .path1 {
	fill: currentcolor;
}
.icon-svg-home {
	width: 32px;
	height: 32px;
}
#icon-svg-home .path1 {
	fill: currentcolor;
}
.icon-svg-quill {
	width: 32px;
	height: 32px;
}
#icon-svg-quill .path1 {
	fill: currentcolor;
}
.icon-svg-profile {
	width: 32px;
	height: 32px;
}
#icon-svg-profile .path1 {
	fill: currentcolor;
}
.icon-svg-user {
	width: 32px;
	height: 32px;
}
#icon-svg-user .path1 {
	fill: currentcolor;
}
.icon-svg-cog {
	width: 32px;
	height: 32px;
}
#icon-svg-cog .path1 {
	fill: currentcolor;
}
.icon-svg-thumbs-up {
	width: 32px;
	height: 32px;
}
#icon-svg-thumbs-up .path1 {
	fill: currentcolor;
}
.icon-svg-warning {
	width: 32px;
	height: 32px;
}
#icon-svg-warning .path1 {
	fill: currentcolor;
}
.icon-svg-enter {
	width: 32px;
	height: 32px;
}
#icon-svg-enter .path1 {
	fill: currentcolor;
}
.icon-svg-arrow-right {
	width: 32px;
	height: 32px;
}
#icon-svg-arrow-right .path1 {
	fill: currentcolor;
}
.icon-svg-arrow-left {
	width: 32px;
	height: 32px;
}
#icon-svg-arrow-left .path1 {
	fill: currentcolor;
}
