.icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(sprite.svg);
}
.icon-pencil {
  width: 24px;
  height: 28px;
  background-position: 0 0;
}
.icon-calendar {
  width: 28px;
  height: 28px;
  background-position: -44px 0;
}
.icon-placeholder-community {
  width: 28px;
  height: 28px;
  background-position: -88px 0;
}
.icon-placeholder-user {
  width: 28px;
  height: 28px;
  background-position: -132px 0;
}
.icon-magnifying-glass {
  width: 29px;
  height: 28px;
  background-position: -176px 0;
}
.icon-menu-toggle {
  width: 6px;
  height: 28px;
  background-position: -220px 0;
}
.icon-notification {
  width: 28px;
  height: 28px;
  background-position: -264px 0;
}
.icon-newspaper {
  width: 39px;
  height: 28px;
  background-position: -308px 0;
}
.icon-file-o {
  width: 28px;
  height: 28px;
  background-position: -396px 0;
}
.icon-file-text-o {
  width: 28px;
  height: 28px;
  background-position: -440px 0;
}
.icon-file-pdf-o {
  width: 28px;
  height: 28px;
  background-position: -484px 0;
}
.icon-file-word-o {
  width: 28px;
  height: 28px;
  background-position: -528px 0;
}
.icon-file-excel-o {
  width: 28px;
  height: 28px;
  background-position: -572px 0;
}
.icon-file-powerpoint-o {
  width: 28px;
  height: 28px;
  background-position: -616px 0;
}
.icon-file-image-o {
  width: 28px;
  height: 28px;
  background-position: -660px 0;
}
.icon-file-archive-o {
  width: 28px;
  height: 28px;
  background-position: 0 -44px;
}
.icon-file-audio-o {
  width: 28px;
  height: 28px;
  background-position: -44px -44px;
}
.icon-file-movie-o {
  width: 28px;
  height: 28px;
  background-position: -88px -44px;
}
.icon-star {
  width: 26px;
  height: 28px;
  background-position: -132px -44px;
}
.icon-user {
  width: 22px;
  height: 28px;
  background-position: -176px -44px;
}
.icon-cog {
  width: 28px;
  height: 28px;
  background-position: -220px -44px;
}
.icon-home {
  width: 26px;
  height: 28px;
  background-position: -264px -44px;
}
.icon-camera {
  width: 30px;
  height: 28px;
  background-position: -308px -44px;
}
.icon-plus-circle {
  width: 28px;
  height: 28px;
  background-position: -352px -44px;
}
.icon-minus-circle {
  width: 28px;
  height: 28px;
  background-position: -396px -44px;
}
.icon-times-circle {
  width: 28px;
  height: 28px;
  background-position: -440px -44px;
}
.icon-check-circle {
  width: 28px;
  height: 28px;
  background-position: -484px -44px;
}
.icon-question-circle {
  width: 28px;
  height: 28px;
  background-position: -528px -44px;
}
.icon-times-circle-o {
  width: 28px;
  height: 28px;
  background-position: -572px -44px;
}
.icon-thumbs-o-up {
  width: 28px;
  height: 28px;
  background-position: -616px -44px;
}
.icon-group {
  width: 30px;
  height: 28px;
  background-position: 0 -88px;
}
.icon-caret-down {
  width: 16px;
  height: 28px;
  background-position: -44px -88px;
}
.icon-caret-up {
  width: 16px;
  height: 28px;
  background-position: -88px -88px;
}
.icon-caret-left {
  width: 10px;
  height: 28px;
  background-position: -132px -88px;
}
.icon-caret-right {
  width: 10px;
  height: 28px;
  background-position: -176px -88px;
}
.icon-bell {
  width: 28px;
  height: 28px;
  background-position: -220px -88px;
}
.icon-angle-right {
  width: 10px;
  height: 28px;
  background-position: -264px -88px;
}
.icon-angle-down {
  width: 18px;
  height: 28px;
  background-position: -308px -88px;
}
.icon-circle-o {
  width: 28px;
  height: 28px;
  background-position: -352px -88px;
}
.icon-chevron-circle-left {
  width: 28px;
  height: 28px;
  background-position: -396px -88px;
}
.icon-chevron-circle-right {
  width: 28px;
  height: 28px;
  background-position: -440px -88px;
}
.icon-chevron-circle-up {
  width: 28px;
  height: 28px;
  background-position: -484px -88px;
}
.icon-chevron-circle-down {
  width: 28px;
  height: 28px;
  background-position: -528px -88px;
}
.icon-line-chart {
  width: 32px;
  height: 28px;
  background-position: -572px -88px;
}
.icon-search {
  width: 26px;
  height: 28px;
  background-position: -616px -88px;
}
.icon-check {
  width: 28px;
  height: 28px;
  background-position: -660px -88px;
}
.icon-times {
  width: 22px;
  height: 28px;
  background-position: 0 -132px;
}
.icon-comment {
  width: 28px;
  height: 28px;
  background-position: -44px -132px;
}
.icon-bar-chart-o {
  width: 30px;
  height: 28px;
  background-position: -88px -132px;
}
.icon-navicon {
  width: 28px;
  height: 28px;
  background-position: -132px -132px;
}
.icon-spinner {
  width: 25px;
  height: 28px;
  background-position: -176px -132px;
}
.icon-circle {
  width: 28px;
  height: 28px;
  background-position: -220px -132px;
}
.icon-microphone {
  width: 18px;
  height: 28px;
  background-position: -264px -132px;
}
.icon-share-alt {
  width: 28px;
  height: 28px;
  background-position: -308px -132px;
}

