.icon {
	display: inline-block;
	background-repeat: no-repeat;
	background-image: url(sprite.svg);
}
.icon-magnifying-glass {
	width: 23px;
	height: 22px;
	background-position: 0 0;
}
.icon-menu-toggle {
	width: 5px;
	height: 22px;
	background-position: -38px 0;
}
.icon-notification {
	width: 22px;
	height: 22px;
	background-position: -76px 0;
}
.icon-newspaper {
	width: 30px;
	height: 22px;
	background-position: -114px 0;
}
.icon-file-o {
	width: 22px;
	height: 22px;
	background-position: -152px 0;
}
.icon-file-text-o {
	width: 22px;
	height: 22px;
	background-position: -190px 0;
}
.icon-file-pdf-o {
	width: 22px;
	height: 22px;
	background-position: -228px 0;
}
.icon-file-word-o {
	width: 22px;
	height: 22px;
	background-position: -266px 0;
}
.icon-file-excel-o {
	width: 22px;
	height: 22px;
	background-position: -304px 0;
}
.icon-file-powerpoint-o {
	width: 22px;
	height: 22px;
	background-position: -342px 0;
}
.icon-file-image-o {
	width: 22px;
	height: 22px;
	background-position: -380px 0;
}
.icon-file-archive-o {
	width: 22px;
	height: 22px;
	background-position: -418px 0;
}
.icon-file-audio-o {
	width: 22px;
	height: 22px;
	background-position: -456px 0;
}
.icon-file-movie-o {
	width: 22px;
	height: 22px;
	background-position: -494px 0;
}
.icon-star {
	width: 20px;
	height: 22px;
	background-position: -532px 0;
}
.icon-user {
	width: 17px;
	height: 22px;
	background-position: -570px 0;
}
.icon-cog {
	width: 22px;
	height: 22px;
	background-position: 0 -38px;
}
.icon-home {
	width: 20px;
	height: 22px;
	background-position: -38px -38px;
}
.icon-camera {
	width: 24px;
	height: 22px;
	background-position: -76px -38px;
}
.icon-plus-circle {
	width: 22px;
	height: 22px;
	background-position: -114px -38px;
}
.icon-minus-circle {
	width: 22px;
	height: 22px;
	background-position: -152px -38px;
}
.icon-times-circle {
	width: 22px;
	height: 22px;
	background-position: -190px -38px;
}
.icon-check-circle {
	width: 22px;
	height: 22px;
	background-position: -228px -38px;
}
.icon-question-circle {
	width: 22px;
	height: 22px;
	background-position: -266px -38px;
}
.icon-times-circle-o {
	width: 22px;
	height: 22px;
	background-position: -304px -38px;
}
.icon-thumbs-o-up {
	width: 22px;
	height: 22px;
	background-position: -342px -38px;
}
.icon-group {
	width: 24px;
	height: 22px;
	background-position: -380px -38px;
}
.icon-caret-down {
	width: 13px;
	height: 22px;
	background-position: -418px -38px;
}
.icon-caret-up {
	width: 13px;
	height: 22px;
	background-position: -456px -38px;
}
.icon-caret-left {
	width: 8px;
	height: 22px;
	background-position: -494px -38px;
}
.icon-caret-right {
	width: 8px;
	height: 22px;
	background-position: -532px -38px;
}
.icon-bell {
	width: 22px;
	height: 22px;
	background-position: -570px -38px;
}
.icon-angle-right {
	width: 8px;
	height: 22px;
	background-position: 0 -76px;
}
.icon-angle-down {
	width: 14px;
	height: 22px;
	background-position: -38px -76px;
}
.icon-circle-o {
	width: 22px;
	height: 22px;
	background-position: -76px -76px;
}
.icon-chevron-circle-left {
	width: 22px;
	height: 22px;
	background-position: -114px -76px;
}
.icon-chevron-circle-right {
	width: 22px;
	height: 22px;
	background-position: -152px -76px;
}
.icon-chevron-circle-up {
	width: 22px;
	height: 22px;
	background-position: -190px -76px;
}
.icon-chevron-circle-down {
	width: 22px;
	height: 22px;
	background-position: -228px -76px;
}
.icon-line-chart {
	width: 25px;
	height: 22px;
	background-position: -266px -76px;
}
.icon-search {
	width: 20px;
	height: 22px;
	background-position: -304px -76px;
}
.icon-check {
	width: 22px;
	height: 22px;
	background-position: -342px -76px;
}
.icon-times {
	width: 17px;
	height: 22px;
	background-position: -380px -76px;
}
.icon-comment {
	width: 22px;
	height: 22px;
	background-position: -418px -76px;
}
.icon-bar-chart-o {
	width: 24px;
	height: 22px;
	background-position: -456px -76px;
}
.icon-navicon {
	width: 22px;
	height: 22px;
	background-position: -494px -76px;
}
.icon-spinner {
	width: 19px;
	height: 22px;
	background-position: -532px -76px;
}
.icon-circle {
	width: 22px;
	height: 22px;
	background-position: -570px -76px;
}
.icon-microphone {
	width: 14px;
	height: 22px;
	background-position: 0 -114px;
}
.icon-share-alt {
	width: 22px;
	height: 22px;
	background-position: -38px -114px;
}
