@font-face {
	font-family: 'ssm-icons';
	src:url('fonts/ssm-icons.eot?-ln5pqp');
	src:url('fonts/ssm-icons.eot?#iefix-ln5pqp') format('embedded-opentype'),
		url('fonts/ssm-icons.woff?-ln5pqp') format('woff'),
		url('fonts/ssm-icons.ttf?-ln5pqp') format('truetype'),
		url('fonts/ssm-icons.svg?-ln5pqp#ssm-icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'ssm-icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
	content: "\f002";
}
.icon-check:before {
	content: "\f00c";
}
.icon-times:before {
	content: "\f00d";
}
.icon-chevron-left:before {
	content: "\f053";
}
.icon-chevron-right:before {
	content: "\f054";
}
.icon-plus:before {
	content: "\f067";
}
.icon-minus:before {
	content: "\f068";
}
.icon-comment:before {
	content: "\f075";
}
.icon-bar-chart-o:before {
	content: "\f080";
}
.icon-bell-o:before {
	content: "\f0a2";
}
.icon-group:before {
	content: "\f0c0";
}
.icon-navicon:before {
	content: "\f0c9";
}
.icon-caret-down:before {
	content: "\f0d7";
}
.icon-caret-up:before {
	content: "\f0d8";
}
.icon-envelope:before {
	content: "\f0e0";
}
.icon-angle-left:before {
	content: "\f104";
}
.icon-angle-right:before {
	content: "\f105";
}
.icon-spinner:before {
	content: "\f110";
}
.icon-circle:before {
	content: "\f111";
}
.icon-microphone:before {
	content: "\f130";
}
.icon-share-alt:before {
	content: "\f1e0";
}
.icon-home:before {
	content: "\e001";
}
.icon-quill:before {
	content: "\e015";
}
.icon-profile:before {
	content: "\e078";
}
.icon-user:before {
	content: "\e194";
}
.icon-cog:before {
	content: "\e1df";
}
.icon-thumbs-up:before {
	content: "\e30f";
}
.icon-warning:before {
	content: "\e355";
}
.icon-enter:before {
	content: "\e37d";
}
.icon-arrow-right:before {
	content: "\e3c3";
}
.icon-arrow-left:before {
	content: "\e3c7";
}
